<!DOCTYPE html>
<html>
   <head>
     <title>generalbooks</title>
     <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
     <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
     <script type="text/javascript" src="{{ url_for('static', filename='script/func.js') }}"></script>
     <style>
        body, html {
            margin: 0;
            padding: 0;
            height: 100%;
        }
          
          .bar {
            width: 20px;
            height: 2px;
            background-color: #333;
            margin: 5px 0;
            background-color:aliceblue;
          }
        
     </style>
     <script>
      var bookG = JSON.parse('{{ bookG | tojson | safe }}');
      var idx =JSON.parse('{{idx | tojson | safe }}');
      console.log(bookG);
    </script>
</head>
<body>

    <header style="background-color:#2e2e30 ; height:70px;">
<div class="row" style="padding-top:15px;">
    <div class="col-md-9 ms-3"><font color=white><h2>ShelfMate</h2></font> </div>
    <div class="col-md-1 ms-4"><button type="button" class="btn btn-light" onclick="headto(idx)">dashboard</button></div>
    <div class="col-md-1 ms-4">
        <button type="button" class="btn btn-light" onclick="moveto(idx)">Statistics</button>
    </div>
</div>

    </header>
    <div style="background-color:#161616; min-height: 100vh; width: 100%; display: flex; flex-direction: column; width:100%">
        <br>
       
        <form action="/submit" method="get">
            <div class="row">
                <div class="col-md-5" style="margin-left:130px;">
                    <input type="text" class="form-control" id="search" name="valsrch" placeholder="Search by book name">
                </div>
                <div class="col-md-4">
                    <button type="submit" class="btn btn-outline-light">Search</button>
                </div>
            </div>
        </form>  
        <br><br>
        <div class="container" >
            <div class="row" id="bookshow">
          </div>
        </div>  

        <script>      
          var h=document.getElementById("bookshow");
          generateBookList(bookG,idx,h);
        </script>
        
      
</body>

</html>