<!DOCTYPE html>
<html>
   <head>
     <title>librarydashboard</title>
     <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
     <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
     <style>
        body, html {
            margin: 0;
            padding: 0;
            height: 100%;
        }
          
          .bar {
            width: 20px;
            height: 2px;
            background-color: #333;
            margin: 5px 0;
            background-color:aliceblue;
          }
          a {
            text-decoration: none;
        }
        #formnow {
          background-color: #585a65; 
          padding: 15px; 
          height: 255px; 
          max-width: 250px;
          margin: 0 auto;
          border-radius: 30px;
        }
        #overlay {
          position: fixed;
          display: none;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-color: rgba(0, 0, 0, 0.5);
          display: flex;
          justify-content: center;
          align-items: center;
          z-index: 1000;
        }
     </style>
    
     <script>
      var sectionx = JSON.parse('{{ sectionn | tojson | safe }}');
     
    </script>

</head>
<body>

    <header style="background-color:#2e2e30 ; height:70px;">
<div class="row" style="padding-top:15px;">
    <div class="col-md-9 ms-3"><font color=white><h2>ShelfMate</h2></font> </div>
    <div class="col-md-1 ms-4"> <a href="requests.html" onclick ="sendrequest()">Requests</a> </div>
  
    <div class="col-md-1 ms-1">
        <button type="button" class="btn btn-light"><a href="http://127.0.0.1:5000/libstat">Statistics</a></button>
    </div>
</div>
<script>
  function sendrequest(){
  fetch('/requesthandlerlib', {
    method: 'POST',
    headers: {
      'Content-Type': 'application/json',
      'Authorization': 'Bearer your-access-token',
    },
    redirect: 'manual'
  }).then(response => {
    if (response.ok) {
      return response.json(); 
    } else {
      console.error('Failed to log in');
      throw new Error('Failed to log in'); 
    }
  }).then(data => {
            window.location.href = data.redirect_url;
  }).catch(error => {
    console.error('Error during login:', error);
  });
}
</script>

    </header>
    <div style="background-color:#161616; min-height: 100vh; width: 100%; display: flex; flex-direction: column; width:100%">
        <br>
        <form action="/submit" method="get">
            <div class="row">
                <div class="col-md-5" style="margin-left:130px;">
                    <input type="text" class="form-control" id="search" name="valsrch" placeholder="Search section">
                </div>
                <div class="col-md-4">
                    <button type="submit" class="btn btn-outline-light" onclick="getValue()">Search</button>
                </div>
            </div>
        </form>        
        <script>
          function getValue() {
            event.preventDefault();
              var searchInput = document.getElementById('search');
              var inputValue = searchInput.value;
              console.log('Input Value:', inputValue);
              var z = [];
              var containerElement = document.getElementById("changed");
              
              containerElement.innerHTML = '';
      
              for (var i = 0; i < sectionx.length; i++) {
                  if (sectionx[i]["Name"] == inputValue ) {
                      z.push(sectionx[i]); 
                  }
              }

                for (var i = 0; i < z.length; i++) {
                  var cardContainer = document.createElement("div");
                  cardContainer.className = "col-md-3 mb-4";
          
                  var cardElement = document.createElement("div");
                  cardElement.className = "card";
          
                  var imgElement = document.createElement("img");
                  imgElement.src = z[i]['Simage'];
                  imgElement.className = "card-img-top";
                  imgElement.alt = "...";
                  imgElement.style.height = "30vh";
          
                  var cardBodyElement = document.createElement("div");
                  cardBodyElement.className = "card-body";
          
                  var titleElement = document.createElement("h5");
                  titleElement.className = "card-title";
                  titleElement.textContent = z[i]['Name'];
          
                  var booksCountElement = document.createElement("p");
                  booksCountElement.className = "card-text";
                  booksCountElement.textContent = "No of books: " + z[i]['bookscount'];
          
                  var addButtonElement = document.createElement("button");
                  addButtonElement.className = "btn btn-primary";
                  addButtonElement.textContent = "Add Books";
                  addButtonElement.setAttribute("sec",z[i]['Name']);
                  addButtonElement.addEventListener("click", function () {
                    addbook(this);
                });

                  var visitButtonElement = document.createElement("button");
                  visitButtonElement.className = "btn btn-primary";
                  visitButtonElement.style.marginLeft = "60px";
                  visitButtonElement.textContent = "Visit";
                  visitButtonElement.setAttribute("data-title", z[i]['Name'])
                  visitButtonElement.addEventListener("click", function () {
                    visit(this);
                });
          
                  cardBodyElement.appendChild(titleElement);
                  cardBodyElement.appendChild(booksCountElement);
                  cardBodyElement.appendChild(addButtonElement);
                  cardBodyElement.appendChild(visitButtonElement);
          
                  cardElement.appendChild(imgElement);
                  cardElement.appendChild(cardBodyElement);
          
                  cardContainer.appendChild(cardElement);
          
                  containerElement.appendChild(cardContainer);
              }
          }
      </script>
        <br><br>
        <div class="container">
            <div class="row" id ="changed">
              {% for i in sectionn %}
              <div class="col-md-3 mb-4">
                <div class="card">
                  <img src= {{ i["Simage"]}} class="card-img-top" alt="..." style="height:30vh;">
                  <div class="card-body">
                    <h5 class="card-title">{{i['Name']}}</h5>
                    <p class ="card-text">No of books : {{i["bookscount"]}}</p>
                    <button class="btn btn-primary" sec = {{i['Name']}} onclick="addbook(this)">Add Books</button>
                    <button class="btn btn-primary" style ="margin-left: 60px;" onclick="visit(this)" data-title ={{i['Name']}}>Visit</button>
                  </div>
                </div>
              </div>
              {% endfor %}
              <button class="btn btn-light" style="width:40px;height:40px; margin-left:50px; margin-top: 150px;" onclick="addsection()">+</button>
            </div>
          </div>
          <script>
            function visit(clickedElement)
            {
              var att = clickedElement.getAttribute('data-title');
              fetch('/sectionbook/' + att, {
                method: 'POST',
                headers: {
                  'Content-Type': 'application/json',
                  'Authorization': 'Bearer your-access-token',
                },
                redirect: 'manual'
              }).then(response => {
                if (response.ok) {
                  return response.json();  
                } else {
                  console.error('Failed to log in');
                  throw new Error('Failed to log in');  
                }
              }).then(data => {
                        window.location.href = data.redirect_url;
              }).catch(error => {
                console.error('Error during login:', error);
              });
            }
          </script>

          <script>
            function addbook(tagg) {
              
              var divv = document.createElement("div");
              var sect = tagg.getAttribute("sec");
              divv.id="overlay";
              divv.style.display = "none";  
              document.body.appendChild(divv);
              var form = document.createElement("form");
              form.classList.add("row", "gy-2", "gx-3", "align-items-center");
              form.id ="formnow";

              
              var fields = [
                { id: "autoSizingInput1", placeholder: "Name" , name : "Name"},
                { id: "autoSizingInput2", placeholder: "Author", name: "Author" },
                { id: "autoSizingInput3", placeholder: "Book-Cover" , name: "Bimage"},
                { id: "autoSizingInput4", placeholder: "Content", name: "content" }
              ];
              
              fields.forEach(function (field) {
                var row = document.createElement("div");
                row.classList.add("row");
                row.style.paddingBottom = "10px";

                var col = document.createElement("div");
                col.classList.add("col-auto");

                var label = document.createElement("label");
                label.classList.add("visually-hidden");
                label.htmlFor = field.id;
                label.textContent = field.placeholder;

                var input = document.createElement("input");
                input.type = "text";
                input.classList.add("form-control");
                input.id = field.id;
                input.placeholder = field.placeholder;
                input.name = field.name;

                col.appendChild(label);
                col.appendChild(input);
                row.appendChild(col);
                form.appendChild(row);
              });

              
              var submitRow = document.createElement("div");
              submitRow.classList.add("row");
              submitRow.style.paddingLeft = "140px";

              var submitCol = document.createElement("div");
              submitCol.classList.add("col-auto");

              var submitButton = document.createElement("button");
              submitButton.type = "submit";
              submitButton.classList.add("btn", "btn-primary", "btn-sm");
              submitButton.textContent = "Submit";
              submitButton.addEventListener("click", function () {
                subc(1,sect);
            });

              submitCol.appendChild(submitButton);
              submitRow.appendChild(submitCol);
              form.appendChild(submitRow);
              divv.appendChild(form);
              var c =document.getElementById("overlay");
              c.style.display ="flex";
        
              
            }
            function addsection()
            {
              var divv = document.createElement("div");
              divv.id="overlay";
              divv.style.display = "none";  // Initial state is hidden
              document.body.appendChild(divv);
              var form = document.createElement("form");
              form.classList.add("row", "gy-2", "gx-3", "align-items-center");
              form.id ="formnow";

              
              var fields = [
                { id: "autoSizingInput1", placeholder: "Name" , name :"Name"},
                { id: "autoSizingInput2", placeholder: "image" ,name: "Simage"},
              ];

              
              fields.forEach(function (field) {
                var row = document.createElement("div");
                row.classList.add("row");
                row.style.paddingBottom = "10px";

                var col = document.createElement("div");
                col.classList.add("col-auto");

                var label = document.createElement("label");
                label.classList.add("visually-hidden");
                label.htmlFor = field.id;
                label.textContent = field.placeholder;

                var input = document.createElement("input");
                input.type = "text";
                input.classList.add("form-control");
                input.id = field.id;
                input.placeholder = field.placeholder;
                input.name = field.name;

                col.appendChild(label);
                col.appendChild(input);
                row.appendChild(col);
                form.appendChild(row);
              });

            
              var submitRow = document.createElement("div");
              submitRow.classList.add("row");
              submitRow.style.paddingLeft = "140px";

              var submitCol = document.createElement("div");
              submitCol.classList.add("col-auto");

              var submitButton = document.createElement("button");
              submitButton.type = "submit";
              submitButton.classList.add("btn", "btn-primary", "btn-sm");
              submitButton.textContent = "Submit";
              submitButton.addEventListener("click", function () {
                subc(0,0)});
              submitCol.appendChild(submitButton);
              submitRow.appendChild(submitCol);
              form.appendChild(submitRow);
              divv.appendChild(form);
              var c =document.getElementById("overlay");
              c.style.display ="flex";
            }
            function subc(x,y)
            {
              
              event.preventDefault();
              var ndata= new FormData(document.getElementById("formnow"));
            
              if (x == 1)
              {
                  console.log(y);
                  console.log(x);
                  if(y == "MATH")
                  {
                    console.log("ok");
                  }
                  ndata.append("Section",y);
                  console.log(ndata);
                  var adding='http://127.0.0.1:5000/addbook' ;
                  fetch( adding, {
                    method: 'POST',
                    headers: {
                      'Content-Type': 'application/json',
                      'Authorization': 'Bearer your-access-token',
                    },
                    body: JSON.stringify(Object.fromEntries(ndata.entries())),
                    redirect: 'manual'
                  }).then(response => {
                  
                    if (response.ok) {
                        console.log('Request sent successfully');
                        alert('book added successfully');
          
                    } else {
                        console.error('Failed to send request:', response.statusText);
                    }
                })
                .catch(error => {
                    console.error('Error sending request:', error);
                });
              }
              else
              {
                var adding='http://127.0.0.1:5000/addsect' ;
                fetch( adding, {
                  method: 'POST',
                  headers: {
                    'Content-Type': 'application/json',
                    'Authorization': 'Bearer your-access-token',
                  },
                  body: JSON.stringify(Object.fromEntries(ndata.entries())),
                  redirect: 'manual'
                }).then(response => {
                  
                  if (response.ok) {
                      console.log('Request sent successfully');
                      alert('section added successfully RELOAD TO SEE ALL NEW SECTIONS');
        
                  } else {
                      console.error('Failed to send request:', response.statusText);
                  }
              })
              .catch(error => {
                  console.error('Error sending request:', error);
              });
              }
              var formc= document.getElementById("overlay");
                   formc.remove();
            }
          </script>
</body>

</html>