<!DOCTYPE html>
<html>
   <head>
     <title>sectionbooks</title>
     <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
     <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
     <style>
        body, html {
            margin: 0;
            padding: 0;
            height: 100%;
        }
          
          .bar {
            width: 20px;
            height: 2px;
            background-color: #333;
            margin: 5px 0;
            background-color:aliceblue;
          }
          a {
            text-decoration: none;
            color:#161616;
        }
     </style>
</head>
<body>

    <header style="background-color:#2e2e30 ; height:70px;">
<div class="row" style="padding-top:15px;">
    <div class="col-md-10 ms-3"><font color=white><h2>ShelfMate</h2></font> </div>
    <div class="col-md-1 ms-4"><button type="button" class="btn btn-light"><a href ="http://127.0.0.1:5000/libDashboard">dashboard</a></button></div>

</div>

    </header>
    <div style="background-color:#161616; min-height: 100vh; width: 100%; display: flex; flex-direction: column; width:100%">
        <br>
      <br>
       <h5 style="color:aliceblue; padding-left:55px;">Total Users : {{netuser}}</h5>
       <br>
       <h5 style="color:aliceblue; padding-left:55px;">Total Requests : {{xr}}</h5>
       <br>
       <h5 style="color:aliceblue; padding-left:55px;">Total Grants : {{xg}}</h5>
       <br>
       <br>
       <div style="padding-left:55px;">
       <h4 style="color:aliceblue;">Books in library</h4>
       <br>
       <img src = "{{ url_for('static', filename='libbar1.png') }}" style="height:300px; width:300px;  border:#161616; border-radius:7px;" >
       </div>
    <br><br><br>
    </div>
</body>

</html>